<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>

<body>

    <ul>
        <li>
            <a href="../View/T3.html" target="T3">Trang Chủ</a>
        </li>
        <hr style=" clear:both;" width="100%" />
        <li>
            <a href="../Controller/C_Nhanvien.php" target="T3">Xem thong tin nv</a>
        </li>
        <hr style="clear:both;" width="100%" />
        <li>
            <a href="../Controller/C_Phongban.php" target="T3">Xem thong tin PB</a>
        </li>
        <hr style="clear:both;" width="100%" />
        <li>
            <a href="../Controller/C_Nhanvien.php?mod1='1'" target="T3">Tim kiem</a>
        </li>
        <hr style="clear:both;" width="100%" />
        <li>
            <a href="../Controller/C_Admin.php" target="T3">Them nhan vien</a>

        </li>
        <hr style="clear:both;" width="100%" />
        <li>
            <a href="../Controller/C_Admin.php" target="T3">Them phong ban</a>

        </li>
        <hr style="clear:both;" width="100%" />
        <li>
            <a href="../Controller/C_Admin.php" target="T3">Cap nhat thong tin PB</a>
        </li>
        <hr style="clear:both;" width="100%" />
        <li>
            <a href="../Controller/C_Admin.php" target="T3">Xoa 1 nhan vien</a>
        </li>
        <hr style="clear:both;" width="100%" />
        <li>
            <a href="../Controller/C_Admin.php" target="T3">Xoa tat ca nv</a>
        </li>
        <hr style="clear:both;" width="100%" />
    </ul>

</body>

</html>